<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FinancEduc nutrir a plataforma</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Chivo:400,900" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

</head>
	<body>
		<div id="wrapper">
			<div id="header-wrapper">
				<div id="header" class="container">
					<div id="logo">

						<a href="/"><img th:src="@{images/logotipo.png}" alt="Logo Financeduc Home"></a>
					</div>
				</div>
			</div>
			<div id="menu-wrapper">
				<div id="menu" class="container">
					<ul>
						<li><a href="recomendacoes">Recomendações</a></li>
						<li><a href="sobrenos">Sobre nós</a></li>
						<li><a href="cadastrar">Cadastrar eventos</a></li>
						<li><a href="iniciarQuiz">Iniciar Quiz</a></li>
					</ul>
				</div>
				<!-- end #menu -->
			</div>
			<div id="bannereventos">
				<img th:src="@{images/cadastro.jpeg}" alt=""/>
			</div>

			<div id="page" class="container">
				<h1>Cadastre aqui os seus cursos, eventos e palestras</h1>


				<form action="/cadastrar" method="post" class="formulario"> <!-- -->
					<div class="campo">
						<label>Tipo:</label>
						<select name="tipo" required>
							<option value="curso">Curso</option>
							<option value="evento">Evento</option>
							<option value="palestra">Palestra</option>
						</select>
					</div>
					<div class="campo" >
						<label>Nome: </label>
						<input type="text" name="nome" required>
					</div>

					<div class="campo">
						<label>E-mail: </label>
						<input type="email" name="email" required>
					</div>
					<div class="campo">
						<label>URL Imagem: </label>
						<input type="text" name="imagem" required>
					</div>

					<div class="campo">
						<label>Horário: </label>
						<input type="time" name="horario" required>
						<label>Data: </label>
						<input type="date" name="data" min="0000-00-00" max="2021-40-50" required>
					</div>

					<div>
						<label>Descrição: </label>
						<textarea  required name="descricao"></textarea>
					</div>

					<button>Enviar</button>
					<p th:text="${msg}"></p>
				</form>

			</div>
		</div>


		<div id="copyright" class="container">
			<p> © Copyright FinancEduc 2020 </a>.</p>
		</div>
	</body>
</html>
