<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>FinancEduc nutrir a plataforma</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Chivo:400,900" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

</head>
	<body>
		<div id="wrapper">
			<div id="header-wrapper">
				<div id="header" class="container">
					<div id="logo">

						<a href="/"><img th:src="@{images/logo.png}" alt="Logo Financeduc Home"></a>
					</div>
				</div>
			</div>
			<div id="menu-wrapper">
				<div id="menu" class="container">
					<ul>
						<li><a href="telaRecomendacoes">Recomendações</a></li>
						<li><a href="sobrenos">Sobre nós</a></li>
						<li><a href="cadastrar">Cadastrar eventos</a></li>
						<li><a href="login">Login</a></li>
						<li><a href="iniciarQuiz">Iniciar Quiz</a></li>
					</ul>
				</div>
				<!-- end #menu -->
			</div>
			<div id="bannereventos"></div>

			<div id="page" class="container">
				<h1>Cadastre aqui os seus cursos, links de videos e documentos</h1>

				<form action="/cadastrar" method="post" class="formulario"> <!-- -->
					<div class="campo">
						<label>Tipo:</label>
						<select name="tipo">
							<option value="curso">Curso</option>
							<option value="evento">Evento</option>
							<option value="palestra">Palestra</option>
						</select>
					</div>
					<div class="campo">
						<label>Nome: </label>
						<input type="text" name="nome">
					</div>

					<div class="campo">
						<label>E-mail: </label>
						<input type="text" name="email">
					</div>

					<div>
						<label>Descrição: </label>
						<textarea name="descricao"></textarea>
					</div>

					<div class="campo">
						<label>Horário: </label>
						<input type="text" name="horario">
						<label>Data: </label>
						<input type="text" name="data">
					</div>

					<div class="campo">
						<label>Link videos ou imagem:</label><br>
						<textarea name="link" id="" cols="30" rows="10"></textarea>
					</div>

					<button>Enviar</button>
				</form>

			</div>
		</div>


		<div id="copyright" class="container">
			<p> © Copyright FinancEduc 2020 </a>.</p>
		</div>
	</body>
</html>
