<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>FinancEduc Home</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<link href="http://fonts.googleapis.com/css?family=Chivo:400,900" rel="stylesheet" />
		<link href="default.css" rel="stylesheet" type="text/css" media="all" />
		<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

	</head>
	<body>
		<div id="wrapper">
			<div id="header-wrapper">
				<div id="header" class="container">
					<div id="logo">

						<a href="/"><img th:src="@{images/logo.png}" alt="Logo Financeduc Home"></a>
					</div>
				</div>
			</div>
			<div id="menu-wrapper">
				<div id="menu" class="container">
					<ul>
						<li><a href="telaRecomendacoes">Recomendações</a></li>
						<li><a href="sobrenos">Sobre nós</a></li>
						<li><a href="cadastro">Cadastrar eventos</a></li>
						<li><a href="login">Login</a></li>
						<li><a href="iniciarQuiz">Iniciar Quiz</a></li>
					</ul>
				</div>
				<!-- end #menu -->
			</div>
			<div id="banner"></div>
			<div id="page" class="container">
				<div id="content">
					<div class="title">
						<h2>Novidades na área financeira</h2>
						<span class="byline">Acompanhe os links para ter acesso a informações agregadoras</span>
						<p> </p>

					<p><strong>APRENDA A INVESTIR NA BOLSA DE VALORES !</strong>
						Workshop mais completo sobre Bolsa de Valores e o funcionamento do mercado de ações no Brasil!
						Imagine você com o controle total de seus investimentos, com liberdade de diversificar a sua carteira com produtos que se encaixam no seu perfil de investidor. Interessante, não é?</p>
						<p><a href="https://www.sympla.com.br/workshop---aprenda-a-investir-na-bolsa-de-valores---sao-paulo__736569" target="_blank">Saiba mais ⟶.</a></p>

						<p><strong>COMO FAZER INVESTIMENTO EM RENDA VARIÁVEL?</strong>
						Voltados a pessoas interessadas em investimentos ou que estão querendo começar a investir ou para pessoas que já investem afim de trocarmos conhecimentos sobre investimentos e afins.</p>
						<p><a href="https://www.meetup.com/pt-BR/EDUCACAO-FINANCEIRA-E-INVESTIMENTOS/" target="_blank">Saiba mais ⟶.</a></p>
					</div>

					<h2>Teste seu conhecimento</h2>
					<a href="index.html">
						<button>Começar Quiz</button>
					</a>

				</div>
				<div id="sidebar">
					<div class="box2">
						<div class="title">
							<h2>Por que educação financeira é importante?</h2>
						</div>
						<ul class="style2">
							<iframe width="340" height="360" src="https://www.youtube.com/embed/CIGWtcQilt4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</ul>
					</div>
				</div>
			</div>
		</div>



		<div id="copyright" class="container">
			<p> © Copyright FinancEduc 2020 </a>.</p>
		</div>
	</body>
</html>
