<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h1> Cadastrados.</h1>
<div th:each="eventos : ${eventos}">
    <div>
        <br>
        <br>
        <p><strong>Nome: </strong>
            <a th:href="@{'/eventos/'+${eventos.nome}}">
                <span th:text="${eventos.nome}"></span>
            </a>
        </p>

        <br>
        <p><strong>Tipo: </strong><Span th:text="${eventos.tipo}"></Span></p>
        <p><strong>Horário: </strong><Span th:text="${eventos.horario}"></Span></p>
        <p><strong>Data: </strong><Span th:text="${eventos.data}"></Span></p>
        <p><strong>Descrição: </strong><Span th:text="${eventos.descricao}"></Span></p>

    </div>
</div>

</body>
</html>