<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>FinancEduc Recomendações</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link href="http://fonts.googleapis.com/css?family=Chivo:400,900" rel="stylesheet" />
        <link href="default.css" rel="stylesheet" type="text/css" media="all" />
        <link href="recomendacoes.css" rel="stylesheet" type="text/css" media="all" />


    </head>
    <body>
        <div id="wrapper">
            <div id="header-wrapper">
                <div id="header" class="container">
                        <a href="/"><img th:src="@{images/logotipo.png}" alt="Logo Financeduc Home"></a>
                    </div>
                </div>
            </div>
            <div id="menu-wrapper">
                <div id="menu" class="container">
                    <ul>
                        <li><a href="recomendacoes" class="active">Recomendações</a></li>
                        <li><a href="sobrenos">Sobre nós</a></li>
                        <li><a href="cadastrar">Cadastrar eventos</a></li>
                        <li><a href="iniciarQuiz">Iniciar Quiz</a></li>
                    </ul>
                </div>
                <!-- end #menu -->
            </div>
            <div id="bannerrecomendacao"></div>
        <aside className="main-container">
            <ul>
                <li th:each="evento : ${eventos}" th:id="${evento.id}">
                    <img th:src="${evento.imagem}" th:alt="${evento.nome}" />
                    <footer>
                        <p>Nome: <strong th:text="${evento.nome}"></strong></p>
                        <p>Tipo: <strong th:text="${evento.tipo}"></strong></p>
                        <p>Horário: <strong th:text="${evento.horario}"></strong></p>
                        <p>Data: <strong th:text="${evento.horario}"></strong></p>
                        <p>Descrição: <strong th:text="${evento.descricao}"></strong></p>
                    </footer>

                </li>
            </ul>
        </aside>

        <div id="copyright" class="container">
            <p> © Copyrightt FinancEduc 2020 </a>.</p>

        </div>
    </body>
</html>
